/* ProfilePage.css */
body {
  align: center;
  font-size: 16px; /* Default font size for the body */
  font-family: 'fantasy', 'copperplate', sans-serif; /* Default font family for the body */
}

.home-container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 28px;
}

.banner {
  background-color: #000000; /* Dark Blue Color */
  color: white;
  padding: 20px; /* Adjusted padding for a taller banner */
  width: 100%;
  box-sizing: border-box;
}

.banner h1 {
  margin-left: 10px; /* Add margin to move the text to the left */
  margin-right: 10px;
  font-size: 40px; /* Adjusted font size */
  font-weight: bold; /* Added font weight for emphasis */
}

.top-nav {
  background-color: #263238; /* Light Blue Color */
  padding: 10px;
  /*text-align: right;*/
}

.top-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Center-align the buttons */
}

.top-nav li {
  margin-right: 10px;
  margin-left: 10px;
}

.top-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.main-content {
  padding: 20px;
  text-align: center; /* Center-align the content */
}

.fieldbtn {
background: none;
border: none;
cursor: pointer;
font-size: 12px;
opacity: 0.5;
margin-left: 5px;
}

.addbtn {
  background-color: #000000;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'fantasy','copperplate',sans-serif;
  font-size: 20px;
  margin-left: 20px;
}


